{% extends "core/base.html" %}

{% block title  %} Account Settings {% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Account Settings</h1>

    <form method="post" action=".">
        {% csrf_token %}

        <div class="mb-3">
            <label class="inline-block mb-2">Current Username</label><br>
            {{ form.new_username }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Current Email</label><br>
            {{ form.new_email }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">New Password</label><br>
            {{ form.new_password }}
        </div>

        <div class="mb-3">
            <label class="inline-block mb-2">Confirm New Password</label><br>
            {{ form.confirm_new_password }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for field in form %}
                    {{ field.errors }}
                {% endfor %}

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button class="py-4 px-6 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white">Save Changes</button>
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{% if message.tags == 'success' %}text-green-500{% else %}text-red-500{% endif %}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


    </form>
</div>
{% endblock %}


